.slickity__slide--style-1 {
  position: relative;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 640px) {
  .slickity__slide--style-1 {
      height: 200px;
  }
}

.slickity__slide--style-1 .slickity__slide-content {
  position: absolute;
  right: 0;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
  max-width: 50%;
  padding: 5em;
}

@media only screen and (max-width: 800px) {
  .slickity__slide--style-1 .slickity__slide-content {
    padding-left: 0;
  }
}